@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root{
    /* Colors */
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}
*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
}
.main{
    box-sizing: border-box;
    position: relative;
    background-color: #ffff;
    height: 90vh;
}

.card{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    height: 80%;
    max-width: 450px;
    transition: opacity .5s ease-in-out;
}


.card__content{
    display: grid;
    align-self: end;
}

.card--active{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}



.figure__img{
    
    text-align: center;
    background: url(images/pattern-bg.svg) no-repeat;
    background-size:contain;
    background-position: bottom;
    /* background-color: red; */
    position: relative;
    padding: 1rem;
    
}
.card__img--container{
    /* background: blue; */
    padding: 1rem;
}

.img__user{
    width: 70%;
    border-radius: .5rem;
    filter: drop-shadow(2px 2px 5px #4e4e4e56);
}

.card__btns{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FFFFFF;
    padding: .5rem;
    width: 60px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(2px 2px 5px #4e4e4e56);
}

.btn{
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    color: var(--DarkBlue);
}

.btn--active{
    color: blue;
}


.card__info--container{
    padding: 1rem 0 0 0;
    background: url(images/pattern-quotes.svg) no-repeat;
    background-size: 50px;
    background-position: center top;
}

.card__info{
    display: grid;
    gap: 1rem;
    text-align: center;
}

.card__paragraph{
    width: 290px;
    margin: 0 auto;
    color: var(--DarkBlue);
}

.user__profession{
    font-size: .9em;
    color: var(--GrayishBlue);
}

.curve{
    width: 100%;
    height: 10vh;
    background: url(images/pattern-curve.svg) no-repeat;
    background-size: contain;
    background-position: left;
}

@media (min-width: 48rem){

    .main{
        height: 80vh;
        padding: 0;
    }

    .figure__img{
        grid-column: 2 / 3;
        grid-row: 1;
    }
    
    .img__user{
        max-width: 450px;
    }

    .card{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        height: 100%;
        transition: opacity .5s ease-in-out;
        display: grid;
        max-width: 700px;
    }

    .card__content{
        align-self: end;
        grid-template-columns: 1fr 1fr;
        height: 80%;
    }
    .card__info--container{
        grid-column: 1 / 2;
        grid-row: 1;
        align-self: center;
    }
    .card__img--container{
        align-self: center;
    }

    .card__info{
        text-align: start;
    }

    .card--active{
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }

    .card__paragraph{
        width: 350px;
        font-size: 1.07em;
        color: var(--DarkBlue);
    }
    

    .info__user{
        display: flex;
        gap: .5rem;
    }
    
    .user__name,
    .user__profession{
        font-size: .9em;
    }

    .curve{
        width: 100%;
        height: 20vh;
        background: url(images/pattern-curve.svg) no-repeat;
        background-size: contain;
        background-position: left bottom;
    }

    .card__info--container{
        padding: 2.6rem 0 0 0;
        background: url(images/pattern-quotes.svg) no-repeat;
        background-size: 70px;
        background-position: 65px top;
    }
    
}

@media (min-width: 64rem){

    .card{
        max-width: 900px;
    }
    .info__user{
        max-width: 400px;
        padding-inline-start: 1.5rem;
    }
    .card__paragraph{
        padding-inline-start: 1.5rem;
        width: 465px;
        font-size: 1.4em;
        color: var(--DarkBlue);
    }
    
    .user__name,
    .user__profession{
        font-size: 1em;
    }
    .card__info--container{
        background-position: 90px top;
    }
}